.panel {
    border-radius: 0px;
    background-color: forestgreen;
}

.panel-primary {
    border-color: white;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: green;
    border-color: green;
}

.panel .dropdown ul.dropdown-menu {
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    overflow-x: hidden;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    background-color: limegreen;
    border-color: white;
    border-radius: 0px;
}

div.panel-heading {
    border-radius: 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: limegreen;
    border-color: white;
    border-radius: 0px;
}

a.list-group-item:focus, a.list-group-item:hover {
    color: black;
    background-color: palegreen;
    border-radius: 0px;
}


.jumbotron .row {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid green;
}

.jumbotron h3 {
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    background-color: forestgreen;
    color: white;
}

strong {
    font-family: verdana, sans-serif;
}

body {
    background-image: url('green-pattern-wallpapers-backgrounds-for-powerpoint.jpg');
    padding-bottom:80px;
}

header {
    background-color: green;
    color:#f5f5f5;
    margin: 20px;
}

footer {
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-primary {
     color: #fff;
     background-color: green;
     border-color: white;
     padding: 10px;
 }

.btn-primary:hover {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
}
#dropdownMenu1, #dropdownMenu2{
    border-radius: 0px;
    background-color: #f5f5f5;
    color: #808080;
    width:  100%;
}

.well {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.6);
}

.form-horizontal {
    padding: 30px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background-color: green;
    border-color: white;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f5f5f5;
}

.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: green;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: greenyellow;
}
