<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Change Password</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="password">Old Password:</label>
                <div class="col-lg-10">
                    <input class="form-control" type="password" id="password" ng-model="userData.oldPassword" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="new-password">New Password:</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="new-password"
                           ng-model="userData.newPassword" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="confirm-password">Confirm New Password:</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="confirm-password"
                           ng-model="userData.confirmPassword" required/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn-primary" ng-click="changeUserPassword(userData)">Update password</button>
                <button class="btn-primary" ng-click="redirectToUserAds()">Cancel</button>
                <div>
        </fieldset>
    </form>
</div>