<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Advertisement with Angular</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <!-- <li><a href="#/">Link</a></li> -->
                <li class="dropdown" ng-if="authService.isLoggedIn()">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ authService.getCurrentUser().username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/">Action</a></li>
                        <li><a href="#/">Another action</a></li>
                        <li><a href="#/">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#/">Separated link</a></li>
                    </ul>
                </li>
                <li ng-if="authService.isLoggedIn()"><a href="#/" ng-click="logout()">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <!--   <span ng-if="pageTitle"> &ndash; {{pageTitle}}</span>

    <div ng-if="authService.isLoggedIn()" class="user-area">
        <span>{{authService.getCurrentUser().username}}</span>
        <a ng-click="logout()" class="link">Logout</a>
    </div>
    -->

<!-- 

TODO: 

1) Implement logic to show different app header for:
    - anonymous site visitors
    - logged in users
    - logged in administrators

2) Implement logic to show different title for different screens
    
-->
