<!--

TODO: implement logic to show different navigation menu for:
  - anonymous site visitors
  - logged in users
  - logged in administrators

-->

<!-- Navigation box for anonymous site visitors -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Navigation</h3>
    </div>
    <div class="list-group">
         <a class="list-group-item" href="#/">Home</a>
         <a class="list-group-item" href="#/login">Login</a>
         <a class="list-group-item" href="#/register">Register</a>
    </div>
</div>

