<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Select Category
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
                <a class="list-group-item" ng-class="{'active' : selectedCategoryId == null}" ng-click="categoryClicked(null)" role="menuitem" tabindex="-1" href="#/">All</a>
            </li>
            <li role="presentation" ng-repeat="category in categories">
                <a class="list-group-item" ng-click="categoryClicked(category.id)" ng-class="{'active' : selectedCategoryId == category.id }" role="menuitem" tabindex="-1" href="#/">{{ category.name }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Towns</h3>
    </div>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            Select Town
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation">
                <a class="list-group-item" ng-class="{'active' : selectedTownId == null}" ng-click="townClicked(null)" role="menuitem" tabindex="-1" href="#/">All</a>
            </li>
            <li role="presentation" ng-repeat="town in towns">
                <a class="list-group-item" ng-click="townClicked(town.id)" ng-class="{ 'active' : selectedTownId == town.id }" role="menuitem" tabindex="-1" href="#/">{{ town.name }}</a>
            </li>
        </ul>
    </div>
</div>
</div>