<div class="text-center">
    <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="7" boundary-links="true">
    </pagination>
</div>
<div class="jumbotron">
    <div ng-repeat="ad in ads.ads" class="row">
        <div class="col-md-6 pull-left">
                <h3>{{ ad.title }}</h3>
                <div class="text-left"><strong>Date:</strong> {{ ad.date | date:'dd-MMM-yyyy' }}</div>
                <div><strong>Text:</strong> {{ ad.text }}</div>
                <div><strong>Email:</strong> {{ ad.ownerEmail }}</div>
                <div><strong>Phone:</strong> {{ ad.ownerPhone }}</div>
        </div>
        <div class="col-md-6 pull-right">
            <div ng-if='ad.imageDataUrl'>
                <img class="img-thumbnail" ng-src="{{ad.imageDataUrl}}"/>
            </div>
            <div ng-if='!ad.imageDataUrl'>
                <img class="img-thumbnail" ng-src="css/image-not-found.jpg"/>
            </div>
        </div>
    </div>
</div>
<div ng-if="ads.ads.length==0" class="panel-danger">
    No ads found.
</div>