<div class="ads jumbotron">
    <div ng-repeat="ad in ads.ads" class="row">
        <div class="col-md-5">
            <h3>{{ ad.title }}</h3>
            <div><strong>Date:</strong> {{ ad.date | date:'dd-MMM-yyyy' }}</div>
            <div><strong>Text:</strong> {{ ad.text }}</div>
            <div><strong>Email:</strong> {{ ad.ownerEmail }}</div>
            <div><strong>Phone:</strong> {{ ad.ownerPhone }}</div>
        </div>
        <div class="col-md-5">
            <div ng-if='ad.imageDataUrl' >
                <img class="img-thumbnail" ng-src="{{ad.imageDataUrl}}" />
            </div>
        </div>
        <br/>
    </div>
</div>

<div ng-if="ads.ads.length==0" class="panel-danger">
    No ads found.
</div>

