<div class="jumbotron">
    <form class="form-horizontal">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="username">Username:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" ng-model="userData.username" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="password">Password:</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" ng-model="userData.password" required/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn-primary" ng-click="login(userData)" class="button">Login</button>
                <button class="btn-primary" ng-click="redirectToRegister()">Register</button>
            </div>
        </fieldset>
    </form>
</div>

